<div *ngIf="userIsLoggedIn">
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer mode="over" closed class="drawer">
      <div class="drawer-content">
        <div class="div-hide">
          <button
            type="button"
            mat-icon-button
            (click)="drawer.toggle()"
            color="primary"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem" class="listitem">
            <a
              mat-stroked-button
              class="button-list"
              matTooltip="Identifique oportunidades de Arbitragem em tempo real"
              matTooltipPosition="after"
              href=""
            >
              <mat-icon color="primary" matListItemIcon>find_replace</mat-icon>
              Oportunidades
            </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem">
            <a
              mat-stroked-button
              class="button-list"
              matTooltip="Gerencie a segurança de sua conta"
              matTooltipPosition="after"
            >
              <mat-icon color="primary">security</mat-icon>Segurança
            </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem">
            <a
              mat-stroked-button
              class="button-list"
              matTooltip="Veja como utilizar nossa plataforma"
              matTooltipPosition="after"
            >
              <mat-icon color="primary">school</mat-icon>Mentoria
            </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem">
            <a
              mat-stroked-button
              class="button-list"
              matTooltip="Sugestões, tire dúvidas e reporte erros"
              matTooltipPosition="after"
            >
              <mat-icon color="primary">help_outline</mat-icon>Suporte
            </a>
          </mat-list-item>
        </mat-list>
        <div class="spacer"></div>
        <ng-container *ngIf="adm">
          <mat-accordion>
            <mat-expansion-panel class="expansion-panel" expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title class="expansion-title">
                  Painel Administrativo
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a
                mat-raised-button
                class="button-list button-list-adm"
                href="crypto-adm"
              >
                <mat-icon color="primary">attach_money</mat-icon>Criptomoedas
              </a>
              <br />
              <a
                mat-raised-button
                class="button-list button-list-adm"
                href="exchange-withdrawal-fee"
              >
                <mat-icon color="primary">money_off</mat-icon>Taxas
              </a>
              <br />
              <a
                mat-raised-button
                class="button-list button-list-adm"
                href="exchange-adm"
              >
                <mat-icon color="primary">domain</mat-icon>Exchanges
              </a>
              <br />
              <a
                mat-raised-button
                class="button-list button-list-adm"
                href="user-adm"
              >
                <mat-icon color="primary">people</mat-icon>Usuários
              </a>
              <br />
              <a mat-raised-button class="button-list button-list-adm">
                <mat-icon color="primary">sync</mat-icon>Networks
              </a>
              <br />
              <a
                mat-raised-button
                class="button-list button-list-adm"
                href="config-adm"
              >
                <mat-icon color="primary">settings</mat-icon>Configurações
              </a>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
        <mat-divider color="primary"></mat-divider>
        <div class="logout-button">
          <button
            mat-stroked-button
            class="button-list"
            color="warn"
            matTooltip="Sair da Conta"
            matTooltipPosition="after"
          >
            <mat-icon color="warn">exit_to_app</mat-icon>Sair
          </button>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar style="min-height: 100px; padding: 30px">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="div-logo-login">
          <a href="/">
            <img src="../assets/logo.png" alt="" width="150px" height="70px" />
          </a>
        </div>
      </mat-toolbar>
      <app-toolbar></app-toolbar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div class="container-login mat-elevation-z8" *ngIf="!userIsLoggedIn">
  <div class="modal-login" [formGroup]="loginControl">
    <h3 class="login">LOGIN</h3>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (loginControl.get('email')?.hasError('required')) {
      <mat-error>Informe seu Email</mat-error>
      } @if (loginControl.get('email')?.hasError('email')) {
      <mat-error>Email inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" />
      @if (loginControl.get('password')?.hasError('required')) {
      <mat-error>Informe sua Senha</mat-error>
      }
    </mat-form-field>
    <div><a href="">Esqueci minha senha</a></div>
    <br />
    <button
      mat-flat-button
      [disabled]="loginControl.invalid || loggingIn"
      type="submit"
      (click)="login()"
      [class.spinner]="loggingIn"
    >
      {{ loggingIn ? "Acessando..." : "Acessar" }}
    </button>
  </div>
</div>
